.bgImage{
    background-image: url("../img/bg.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 100vh; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.cbox{
    margin-top: 5px;
    margin-left: -14px;
    box-shadow: black;
    border-radius: 15px;
    
}
label{
    font-size: 15px;
    font-weight: bold;
}
.logo{
    font-size: 30px;
    font-weight: bolder;
}